# Don’t commit the following directories created by pub.
build/
packages/
packages
.buildlog
.pub/
pubspec.lock

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map
*.iml

# Or the files created by coverage.
/coverage/

# Or the files created by docgen.
dartdoc-viewer

#don't commit screenshots from functional tests
screenshots/
